@using FirstApp.Models;
@page "/nasa-apod"
@using FirstApp.Clients;
@inject NasaClient NasaClient;
@using FirstApp.Shared.Components;
<PageTitle>
Nasa APOD
</PageTitle>
<Header title="@nasaResponse.title" subTitle="@nasaResponse.date" description="@nasaResponse.explanation"/>
<br>
<NasaImageSection imgUrl="@nasaResponse.url" hdUrl="@nasaResponse.hdurl" copyright="@nasaResponse.copyright"/>

<input placeholder="Date" @bind="adddate"/>
<button @onclick= "GetDate">OK</button>

@code {
     private NasaResponse? nasaResponse = null;
     protected override async Task OnInitializedAsync(){
        nasaResponse= await NasaClient.GetNasa(null);
     }

private string? adddate;
async Task GetDate(){
    if(!string.IsNullOrWhiteSpace(adddate)){
        nasaResponse= await NasaClient.GetNasa(adddate);
    }
}

}







